@page
@model cafefinder.Pages.allModel

@{
    ViewData["Title"] = "all";
}

<section>
    <div class="content-section">

        <form method="get" style="flex-direction: row;">
            <div class="dropdown location-dropdown">

                <select name="n" id="neighborhood">
                    <option value="همه">همه محله ها</option>

                    @foreach (var item in Model.N)
                    {
                        if (Model._N==item)
                        {
                            <option selected value="@item">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>

                        }

                    }
                </select>
            </div>

            <label for="man">مردانه</label>
            @{
                if (Model._man)
                {
                    <input type="checkbox" checked name="man" id="man" />
                }
                else
                {
                    <input type="checkbox" name="man" id="man" />
                }
            }
            <label for="women">زنانه</label>
            @{
                if (Model._women)
                {
                    <input type="checkbox" checked name="women" id="women" />
                }
                else
                {
                    <input type="checkbox" name="women" id="women" />
                }
            }

            <label for="damadarosgrim">گریم داماد و عروس</label>
            @{
                if (Model._damadarosgrim)
                {
                    <input type="checkbox" name="damadarosgrim" checked id="damadarosgrim" />
                }
                else
                {
                    <input type="checkbox" name="damadarosgrim" id="damadarosgrim" />
                }
            }

            <label for="damadarosgrim">پاکسازی صورت</label>
            @{
                if (Model._paksazisorat)
                {
                    <input type="checkbox" name="paksazisorat" checked id="paksazisorat" />
                }
                else
                {
                    <input type="checkbox" name="paksazisorat" id="paksazisorat" />
                }
            }


            <label for="keratin">کراتین </label>
            @{
                if (Model._keratin)
                {
                    <input type="checkbox" name="keratin" checked id="keratin" />
                }
                else
                {
                    <input type="checkbox" name="keratin" id="keratin" />
                }
            }

            <label for="feshial">فشیال  </label>
            @{
                if (Model._feshial)
                {
                    <input type="checkbox" name="feshial" checked id="feshial" />
                }
                else
                {
                    <input type="checkbox" name="feshial" id="feshial" />
                }
            }

            <label for="kashtnakhon">کاشت ناخن</label>
            @{
                if (Model._kashtnakhon)
                {
                    <input type="checkbox" name="kashtnakhon" checked id="kashtnakhon" />
                }
                else
                {
                            <input type="checkbox" name="kashtnakhon" id="kashtnakhon" />
                }
            }
            <label for="childeren">اصلاح کودک</label>
            @{
                if (Model._childeren)
                {
                    <input type="checkbox" name="childeren" checked id="childeren" />
                }
                else
                {
                                    <input type="checkbox" name="childeren" id="childeren" />
                }
            }

            <button type="submit">جستجو</button>

        </form>


    </div>
</section>

<div class="products">

    @foreach (var all in Model.info)
    {
        <div class="product-item">
            <img src="data:image/png;base64,@all.Photo.FirstOrDefault().Value" />
            <h3>@all.Name</h3>
            <p>@all.Neighborhood</p>

            @{
                float star = 0;
                foreach (var _star in all.StarRating?.Select(prop => prop.Value))
                    star += _star;
                star = star / all.StarRating.Count;
                if (float.IsNaN(star)) { star = 0; }
            }
            <div class="rating">@star </div>
            <a asp-page="./Details" asp-route-id="@all.Id">مشاهده</a> |
        </div>



    }





</div>


</div>
