@page
@model cafefinder.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/@(nameof(cafefinder)).styles.css" />
</head>

<main>
    @{
        if (Model.Place.Man)
        {
            <h1 class="cafe-name"> مردانه</h1>

        }
        else
        {
            <h1 class="cafe-name"> زنانه</h1>
        }
    }


    }
</main>
<div class="container-resturent">
    <div class="info-gallery-cafe">
        <div class="info-cafe">
            <h2>@Model.Place.Name</h2>
            <p>آدرس: @Model.Place.Address</p>
            <p>
                ساعت کار : @Model.Place.WorkTime
            </p>
            <button>
                <a href="@Model.Place.LocationLink">
                    لوکیشن
                </a>
            </button>

        </div>
        <div class="gallery-cafe">
            <h2>گالری تصاویر</h2>
            <div class="gallery-images-cafe">
                @foreach (var item in Model.Place.Photo)
                {
                    <img src="data:image/png;base64,@item.Value" />
                }
            </div>
        </div>
    </div>

    <div class="comments-form">
        <div class="comments">
            <h2>نظرات مشتریان</h2>
            @foreach (var item in Model.Place.StarRating)
            {
                <p>@item.Value:@item.Key</p>
            }
        </div>
        <div class="form">
            <h2>نظر خود را ثبت کنید</h2>
            <form method="post">
                <textarea name="text" id="comment" placeholder="نظر شما" required></textarea>
                <label for="rating">امتیاز:</label>
                <select name="rate" id="rating" required>
                    <option value="5">5 ستاره</option>
                    <option value="4">4 ستاره</option>
                    <option value="3">3 ستاره</option>
                    <option value="2">2 ستاره</option>
                    <option value="1">1 ستاره</option>
                </select>
                <button type="submit">ثبت نظر</button>
            </form>
        </div>
    </div>
    @{
        if (Model.IsLogin)
        {
            <a asp-page="./edit" asp-route-id="@Model.Id"> <button> ادیت </button> </a>
        }
    }
</div>


<div class="form">
    <h2>اطلاعات خود را وارد نمایید</h2>
    <form method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <label for="name">نام و نام خانوادگی خود را وارد نمایید</label>
        <input type="text" name="name" id="name" />
        <label for="phone-number"> شماره تلفن خود را وارد نمایید </label>
        <input type="tel" name="phone" id="phone-number" />
        <label for="rating"> انتخاب تایم: </label>
        <select name="rezervTime" id="rezervTime" required>
            @foreach (var item in Model.rezerv)
            {
                <option value="@item">@item</option>
            }
        </select>
        <label for="people-number"> تعداد نفرات خود را بنویسید </label>
        <input type="number" name="count" id="people-number" />
        <button type="submit" asp-page-handler="Rezerv" class="btn btn-danger">ثبت رزرو </button>
    </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<footer>
    <p>تمامی حقوق محفوظ است. © 2024</p>
</footer>

